<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="das.anusha.bnapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BNapp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WriteActivity"
            android:label="Write"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".SpeakActivity"
            android:label="Speak"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".SpeakLesson"
            android:label="Lesson"
            android:parentActivityName=".SpeakActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SpeakActivity"/>
        </activity>
        <activity
            android:name=".MemorizeActivity"
            android:label="Memorize"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Flashcards"
            android:label="Flashcards"
            android:parentActivityName=".MemorizeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MemorizeActivity"/>
        </activity>
        <activity
            android:name=".ReadActivity"
            android:label="Read"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Reading"
            android:label="Reading"
            android:parentActivityName=".ReadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReadActivity"/>
        </activity>
        <activity
            android:name=".PostExpanded"
            android:label="Full Post"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".CharacterKey"
            android:label="Character Key"
            android:parentActivityName=".ReadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReadActivity"/>
        </activity>
    </application>

</manifest>